* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
      "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
  }
  
a {
    text-decoration: none;
}

/* 內减模式 */
* {
    box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
    vertical-align: middle;
  }
  
  /* 去除input默认样式 */
  input {
    border: none;
    outline: none;
    color: #333;
  }

  /* 双伪元素清除法 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
